.new_pages_box {
  $basic-text-color: #fff !default;
  $border-color: #9c9c9c;

  .new_pages_box_wrapper {
    background-color: $basic-background-color;
    background-color: $basic-background-color-transparent;
    border: 2px solid $border-color;
    color: $basic-text-color;
    font-family: $standard-font;
  }

  .navigation_site_detail:before {
    background-color: darken($basic-background-color, 5%);
    background-color: darken($basic-background-color-transparent, 5%);
  }

  a {
    color: $basic-text-color;
  }

  .close_hint {
    @extend %anchor;
  }
}
