.new_pages_box {
  $basic-text-color: #fff !default;

  .new_pages_box_wrapper {
    background-color: $basic-background-color;
    background-color: $basic-background-color-transparent;
    color: $basic-text-color;
    font-family: $standard-font;
  }

  .navigation_site_detail:before {
    background-color: darken($basic-background-color, 5%);
    background-color: darken($basic-background-color-transparent, 5%);
  }

  a {
    color: $basic-text-color;
  }
}
