.new_pages_box {
  $basic-text-color: #fff !default;

  .new_pages_box_wrapper {
    background-color: $basic-background-color;
    background-color: $basic-background-color-transparent;
    color: $basic-text-color;
    font-family: $standard-font;
  }

  .navigation_site_detail:before {
    background-color: darken($basic-background-color, 5%);
    background-color: darken($basic-background-color-transparent, 5%);
  }

  .thumbnail {
    @extend %pageflow_page_type_thumbnail;

    width: 170px;
    height: 95px;
    background-position: center;
    background-size: cover;

    @include phone {
      width: 136px;
      height: 76px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 79px;
      left: 81px;
      width: 38px;
      height: 38px;
      background-size: 76px 38px;
      background-repeat: no-repeat;
    }
  }

  a {
    color: $basic-text-color;
  }

  .close_hint {
    @extend %anchor;
  }
}
