.new_pages_box {
  .new_pages_box_wrapper {
    display: none;
    position: absolute;
    padding: 15px;
    bottom: 1%;
    right: 1%;
    margin-right: 110px;
    z-index: 1;
    width: 300px;


    &:before {
      display: none;
    }

    > h3 {
      margin: 0;
    }

    @include mobile {
      right: initial;
      bottom: initial;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
    }

    @include phone {
      font-size: 0.8em;
      width: 266px;
    }

    .navigation_site_detail {
      display: block;
      padding: 6px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        padding: 0 5px;
        left: -5px;
        top: 0;
        height: 100%;
        z-index: -1;
        visibility: hidden;
      }

      &:hover:before {
        visibility: visible;
      }
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        display: none;

        h2 {
          margin: 0;
          font-size: 0.8em;
          line-height: 1.2em;

          span {
            display: block;

            &.chapter_number {
              font-weight: normal;
            }
          }
        }

        .title_area {
          position: absolute;
          right: 0;
          width: 118px;
          top: 50%;
          max-height: 100%;
          overflow: hidden;
          @include transform(translate(0,-51%));
        }
      }
    }

    hr {
      border: 0;
      margin: 0;
    }

    a {
      &.close_hint {
        position: relative;
        margin-left: 15px;
        float:right;

        &:before {
          left: -16px;
          top: 4px;
          position: absolute;
          background-image: image-url("pageflow/anchor_white.png");
          width: 10px;
          height: 12px;
          content: "";
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;

          @include phone {
            top: 3px;
          }
        }
      }
    }

    .additional_pages_hint {
      display: none;

      span {
        font-weight: bold;
      }
    }
  }
}